%article.list-group-item
  .row
    .col-md-12
      = render partial: "meta", locals: { article: article }
  .row
    .col-md-12
      %h2= link_to article.title, blog_article_path(article)
  .row
    .col-md-12
      = preserve_markdown article.excerpt
      - if article.has_more_text?
        %p= link_to "Continue reading →", blog_article_path(article)
